# Versiones de los contenedores
PRESTASHOP_VERSION=latest
MARIADB_VERSION=latest
PHPMYADMIN_VERSION=latest

# Variables de configuración
MARIADB_ROOT_PASSWORD=12345Abcde
MARIADB_DATABASE=prestashop
MARIADB_USER=prestashop
MARIADB_PASSWORD=12345Abcde

# Prefijo para los contenedores
COMPOSE_PROJECT_NAME=prestashop
